html, body {
  height: 100svh;  /* Garantir que o body ocupe 100% da altura da tela */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  background-color: #000000;
  display: flex;
  height: 100svh;  /* A container precisa ocupar 100% da altura */
}

.sidebar {
  flex-shrink: 0;  /* Sidebar não pode encolher */
  width: 300px;  /* Largura fixa da sidebar */
}

.content {
  flex-grow: 1;  /* O conteúdo vai crescer para ocupar o restante da tela */
  display: flex;
  flex-direction: column;
  height: calc(100svh - 6.5svh); /* Subtrai a altura do footer */
}
